/* ***************************************************
   ** MAIN CLASSES
   *************************************************** */

.background {
	margin: auto;
	padding: 20px 30px;
	width: 960px;
}

.clearboth {
  clear: both;
}

.header_links {
	border-right: 1px solid #fffa7c;
	padding-right: 10px;
	margin-left: 10px;
	color: #07236a;
	font-size: 14px;
	font-weight: lighter;
	text-transform: uppercase;
}

a.header_links {
	color: #07236a;
	text-decoration: none;
}

a.header_links:hover {
	color: #fffa7c;
}

.first {
	letter-spacing: 2px;
	font-weight: bold;
	margin: 0;
}

.last {
	border: none;
}

/* ***************************************************
   ** PROJECT GALLERY VIEW
   *************************************************** */

.proj_div {
	float: left;
	margin: 30px 30px 0 0;
}

.proj_div:hover {
	opacity:0.95;
	filter:alpha(opacity=95);
}

.lrg_thumb {
	float: left;
	width: 200px;
	height: 200px;
}

/* ***************************************************
   ** PROJECT VIEW
   *************************************************** */

.project_div {
	float: left;
	margin-top: 15px;
	position: relative;
	width: 100%;
}

.project_images {
	float: left;
	width: 600px;
}

.image_div {
	float: left;
	position: relative;
	margin-bottom: 15px;
}

.proj_image {
	float: left;
	max-width: 600px;
}

.caption_div {
	background-color: #333;
	opacity:0.4;
	filter:alpha(opacity=40);
	position: absolute;
	bottom: 0;
	width: 100%;
}

.caption_div:hover {
	opacity:0.6;
	filter:alpha(opacity=60);
}

.image_caption {
	color: #fffa7c;
	float: right;
	font-size: 14px;
	margin: 5px;
}

.project_info {
	float: left;
	margin-left: 30px;
	width: 300px;
}

.project_nav {
	float: left;
	width: 300px;
	position: relative;
	margin-top: 15px;
}

.pr_thumb {
	float: left;
	height: 50px;
	width: 50px;
	margin: 0 5px 15px 0;
}

.title_div {
	float: left;
	margin-left: 5px;
}

.pr_title {
	color: #07236a;
	float: left;
	font-size: 28px;
	font-weight: normal;
	margin-top: 5px;
}

.pr_date {
	color: #fffa7c;
	float: left;
	font-size: 14px;
	margin-top: 10px;
}

.pr_description {
	border-left: 1px solid #fffa7c;
	color: #888;
	padding-left: 10px;
	letter-spacing: 1px;
}

.admin_image {
	float: left;
	width: 200px;
	margin-top: 15px;
}

.image_upload {
	float: left;
	margin-top: 20px;	
}

/* ***************************************************
   ** PROJECT NAVIGATION
   *************************************************** */

.nav_thumb {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 5px;
}

.nav_div {
	background-color: #333;
	opacity:0.4;
	filter:alpha(opacity=40);
	position: absolute;
	bottom: -20px;
	width: 100%;
	height: 20px;
}

.nav_div:hover {
	opacity:0.6;
	filter:alpha(opacity=60);
}

.nav_caption {
	color: #ffae00;
	float: right;
	font-size: 11px;
	margin: 2px;
}

.nav_arrow {
	float: left;
	margin: 7px 0 0 10px;
	height: 15px;
	width: 15px;
}

/* ***************************************************
   ** ABOUT PAGES
   *************************************************** */

.resume {
	margin-top: 30px;
	width: 900px;
}