#projects
  - @projects.each do |project|
    - if project.thumbnail
      = link_to (image_tag(project.thumbnail.url, :class => "lrg_thumb")), project

- if admin?    
  .clearboth
  = link_to 'New Project', new_project_path