.admin_image
  = image_tag image.photo.url(:small)
  %p 
    Caption:
    = image.caption
    %br Description:
    =image.description  
    = link_to 'Delete Image', [image.project, image], :confirm => 'Are you sure?', :method => :delete